@model BooksCatalogue.Models.Book

@{
    ViewData["Title"] = "Details";
}

    <div class="container">
        <h1>Details Book</h1>
        <hr />
        <div class="card mb-3 mt-4 details shadow">
            <div class="row no-gutters justify-content-md-center">
                <div class="col-md-4 text-center image">
                    <img
                    src="@Html.DisplayFor(model => model.CoverURL)"
                    class="card-img"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title text-primary">@Html.DisplayFor(model => model.Title)</h2>
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row" width="150">@Html.DisplayNameFor(model => model.Author)</th>
                                <td>@Html.DisplayFor(model => model.Author)</td>
                            </tr>
                            <tr>
                                <th scope="row" width="150">@Html.DisplayNameFor(model => model.ReleaseYear)</th>
                                <td>@Html.DisplayFor(model => model.ReleaseYear)</td>
                            </tr>
                            <tr>
                                <th scope="row" width="150">@Html.DisplayNameFor(model => model.Synopsis)</th>
                                <td>@Html.DisplayFor(model => model.Synopsis)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h3>
        @Html.DisplayNameFor(model => model.Reviews)
        </h3>
        <div class = "col-sm-12">
            <div class="row justify-content-center">
                @if (Model.Reviews.Count != 0)
                {
                    <table class="table col-md-10">
                        <tr>
                            <th>Name</th>
                            <th>Rating</th>
                            <th>Comment</th>
                        </tr>
                        @foreach (var item in Model.Reviews)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewerName)
                                </td>
                                <td>
                                    <span style="font-size: 30px;">@Html.DisplayFor(modelItem => item.Rating)</span>/10
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>
                                <td>
                                    @Html.HiddenFor(modelItem => item.Id)
                                    @Html.HiddenFor(modelItem => item.BookId)
                                    <a asp-controller="Review"  asp-action="Delete" asp-route-id="@item.Id" asp-route-BookId ="@item.BookId"  class="btn btn-danger" role="button">Delete</a> 
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>Be the first to review</p>
                }
                @{
                    // TODO: Tambahkan fungsi pada Controller dan View baru untuk menambahkan data review
                }
            </div>
            <a class="btn btn-primary" asp-controller="Review" asp-action="AddReview" asp-route-bookId="@Model.Id" role="button">Add Review</a>
        </div>
        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id" class="text-danger">Delete</a> |
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
